# Class 3: Pivoto Tables

In [3]:
import pandas as pd
import numpy as np

In [7]:
%ls datasets/

adult.csv                  census.csv     movies.csv
airline_data.csv           coches.csv     nhanes_2015_2016.csv
antropometria00.csv        cwurData.csv   pokemon.csv
antropometria-dataset.csv  data.csv       reg_data.csv
Book3.csv                  headbrain.csv  sample_pivot.csv
Canada.xlsx                mic2.xlsx      tips.csv
Cartwheeldata.csv          mic.xlsx       weight-height.csv

In [8]:
df=pd.read_csv('datasets/census.csv')
df.head(2)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333

In [9]:
x = df.columns.tolist()
x.sort()
x

['BIRTHS2010',
 'BIRTHS2011',
 'BIRTHS2012',
 'BIRTHS2013',
 'BIRTHS2014',
 'BIRTHS2015',
 'CENSUS2010POP',
 'COUNTY',
 'CTYNAME',
 'DEATHS2010',
 'DEATHS2011',
 'DEATHS2012',
 'DEATHS2013',
 'DEATHS2014',
 'DEATHS2015',
 'DIVISION',
 'DOMESTICMIG2010',
 'DOMESTICMIG2011',
 'DOMESTICMIG2012',
 'DOMESTICMIG2013',
 'DOMESTICMIG2014',
 'DOMESTICMIG2015',
 'ESTIMATESBASE2010',
 'GQESTIMATES2010',
 'GQESTIMATES2011',
 'GQESTIMATES2012',
 'GQESTIMATES2013',
 'GQESTIMATES2014',
 'GQESTIMATES2015',
 'GQESTIMATESBASE2010',
 'INTERNATIONALMIG2010',
 'INTERNATIONALMIG2011',
 'INTERNATIONALMIG2012',
 'INTERNATIONALMIG2013',
 'INTERNATIONALMIG2014',
 'INTERNATIONALMIG2015',
 'NATURALINC2010',
 'NATURALINC2011',
 'NATURALINC2012',
 'NATURALINC2013',
 'NATURALINC2014',
 'NATURALINC2015',
 'NETMIG2010',
 'NETMIG2011',
 'NETMIG2012',
 'NETMIG2013',
 'NETMIG2014',
 'NETMIG2015',
 'NPOPCHG_2010',
 'NPOPCHG_2011',
 'NPOPCHG_2012',
 'NPOPCHG_2013',
 'NPOPCHG_2014',
 'NPOPCHG_2015',
 'POPESTIMATE2010',
 'POPESTIMATE2011',
 'POPESTIMATE2012',
 'POPESTIMATE2013',
 'POPESTIMATE2014',
 'POPESTIMATE2015',
 'RBIRTH2011',
 'RBIRTH2012',
 'RBIRTH2013',
 'RBIRTH2014',
 'RBIRTH2015',
 'RDEATH2011',
 'RDEATH2012',
 'RDEATH2013',
 'RDEATH2014',
 'RDEATH2015',
 'RDOMESTICMIG2011',
 'RDOMESTICMIG2012',
 'RDOMESTICMIG2013',
 'RDOMESTICMIG2014',
 'RDOMESTICMIG2015',
 'REGION',
 'RESIDUAL2010',
 'RESIDUAL2011',
 'RESIDUAL2012',
 'RESIDUAL2013',
 'RESIDUAL2014',
 'RESIDUAL2015',
 'RINTERNATIONALMIG2011',
 'RINTERNATIONALMIG2012',
 'RINTERNATIONALMIG2013',
 'RINTERNATIONALMIG2014',
 'RINTERNATIONALMIG2015',
 'RNATURALINC2011',
 'RNATURALINC2012',
 'RNATURALINC2013',
 'RNATURALINC2014',
 'RNATURALINC2015',
 'RNETMIG2011',
 'RNETMIG2012',
 'RNETMIG2013',
 'RNETMIG2014',
 'RNETMIG2015',
 'STATE',
 'STNAME',
 'SUMLEV']

In [20]:
myPivot = pd.pivot_table(df, index = ['STNAME', 'CTYNAME'], 
                         values = ['BIRTHS2010'], 
                         aggfunc= ['count'], 
                         columns = 'REGION', 
                         margins = True,)

myPivot

                             count
                        BIRTHS2010
REGION                           1       2       3      4   All
STNAME  CTYNAME
Alabama Alabama                NaN     NaN     1.0    NaN     1
        Autauga County         NaN     NaN     1.0    NaN     1
        Baldwin County         NaN     NaN     1.0    NaN     1
        Barbour County         NaN     NaN     1.0    NaN     1
        Bibb County            NaN     NaN     1.0    NaN     1
...                            ...     ...     ...    ...   ...
Wyoming Uinta County           NaN     NaN     NaN    1.0     1
        Washakie County        NaN     NaN     NaN    1.0     1
        Weston County          NaN     NaN     NaN    1.0     1
        Wyoming                NaN     NaN     NaN    1.0     1
All                          226.0  1067.0  1439.0  461.0  3193

[3193 rows x 5 columns]

In [21]:
%ls datasets

adult.csv                  census.csv     movies.csv
airline_data.csv           coches.csv     nhanes_2015_2016.csv
antropometria00.csv        cwurData.csv   pokemon.csv
antropometria-dataset.csv  data.csv       reg_data.csv
Book3.csv                  headbrain.csv  sample_pivot.csv
Canada.xlsx                mic2.xlsx      tips.csv
Cartwheeldata.csv          mic.xlsx       weight-height.csv

In [24]:
df= pd.read_csv('datasets/airline_data.csv', low_memory=False)
df.head(2)

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,1295781,1998,2,4,2,4,1998-04-02,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1125375,2013,2,5,13,1,2013-05-13,EV,20366,EV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1]:
%ls datasets/

adult.csv                  census.csv     movies.csv
airline_data.csv           coches.csv     nhanes_2015_2016.csv
antropometria00.csv        cwurData.csv   pokemon.csv
antropometria-dataset.csv  data.csv       reg_data.csv
Book3.csv                  headbrain.csv  sample_pivot.csv
Canada.xlsx                mic2.xlsx      tips.csv
Cartwheeldata.csv          mic.xlsx       weight-height.csv

In [4]:
df=pd.read_csv('datasets/airline_data.csv', low_memory=False)
df.head(2)

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,1295781,1998,2,4,2,4,1998-04-02,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1125375,2013,2,5,13,1,2013-05-13,EV,20366,EV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
x = df.columns.tolist()
x.sort()
x

['ActualElapsedTime',
 'AirTime',
 'ArrDel15',
 'ArrDelay',
 'ArrDelayMinutes',
 'ArrTime',
 'ArrTimeBlk',
 'ArrivalDelayGroups',
 'CRSArrTime',
 'CRSDepTime',
 'CRSElapsedTime',
 'CancellationCode',
 'Cancelled',
 'CarrierDelay',
 'DOT_ID_Reporting_Airline',
 'DayOfWeek',
 'DayofMonth',
 'DepDel15',
 'DepDelay',
 'DepDelayMinutes',
 'DepTime',
 'DepTimeBlk',
 'DepartureDelayGroups',
 'Dest',
 'DestAirportID',
 'DestAirportSeqID',
 'DestCityMarketID',
 'DestCityName',
 'DestState',
 'DestStateFips',
 'DestStateName',
 'DestWac',
 'Distance',
 'DistanceGroup',
 'Div1Airport',
 'Div1AirportID',
 'Div1AirportSeqID',
 'Div1LongestGTime',
 'Div1TailNum',
 'Div1TotalGTime',
 'Div1WheelsOff',
 'Div1WheelsOn',
 'Div2Airport',
 'Div2AirportID',
 'Div2AirportSeqID',
 'Div2LongestGTime',
 'Div2TailNum',
 'Div2TotalGTime',
 'Div2WheelsOff',
 'Div2WheelsOn',
 'Div3Airport',
 'Div3AirportID',
 'Div3AirportSeqID',
 'Div3LongestGTime',
 'Div3TailNum',
 'Div3TotalGTime',
 'Div3WheelsOff',
 'Div3WheelsOn',
 'Div4Airport',
 'Div4AirportID',
 'Div4AirportSeqID',
 'Div4LongestGTime',
 'Div4TailNum',
 'Div4TotalGTime',
 'Div4WheelsOff',
 'Div4WheelsOn',
 'Div5Airport',
 'Div5AirportID',
 'Div5AirportSeqID',
 'Div5LongestGTime',
 'Div5TailNum',
 'Div5TotalGTime',
 'Div5WheelsOff',
 'Div5WheelsOn',
 'DivActualElapsedTime',
 'DivAirportLandings',
 'DivArrDelay',
 'DivDistance',
 'DivReachedDest',
 'Diverted',
 'FirstDepTime',
 'FlightDate',
 'Flight_Number_Reporting_Airline',
 'Flights',
 'IATA_CODE_Reporting_Airline',
 'LateAircraftDelay',
 'LongestAddGTime',
 'Month',
 'NASDelay',
 'Origin',
 'OriginAirportID',
 'OriginAirportSeqID',
 'OriginCityMarketID',
 'OriginCityName',
 'OriginState',
 'OriginStateFips',
 'OriginStateName',
 'OriginWac',
 'Quarter',
 'Reporting_Airline',
 'SecurityDelay',
 'Tail_Number',
 'TaxiIn',
 'TaxiOut',
 'TotalAddGTime',
 'Unnamed: 0',
 'WeatherDelay',
 'WheelsOff',
 'WheelsOn',
 'Year']

In [7]:
myPivot = pd.pivot_table(df, index = ['WheelsOn', 'WheelsOff'], 
                         margins = True,)

myPivot

                    ActualElapsedTime  AirTime  ArrDel15  ArrDelay  \
WheelsOn WheelsOff
1.0      2055.0                 146.0    126.0       0.0      -6.0
         2111.0                 376.0    350.0       1.0      19.0
         2155.0                 149.0    126.0       0.0       5.0
         2248.0                  96.0     73.0       0.0      -3.0
2.0      2210.0                  65.0     52.0       1.0      18.0
...                               ...      ...       ...       ...
2400.0   2049.0                 152.0    131.0       1.0      21.0
         2058.0                 146.0    122.0       0.0       9.0
         2206.0                 129.0    114.0       1.0      39.0
         2305.0                  70.0     55.0       1.0      55.0
All                               NaN      NaN       NaN       NaN

                    ArrDelayMinutes  ArrTime  ArrivalDelayGroups  CRSArrTime  \
WheelsOn WheelsOff
1.0      2055.0                 0.0      8.0                -1.0        14.0
         2111.0                19.0     11.0                 1.0      2352.0
         2155.0                 5.0      8.0                 0.0         3.0
         2248.0                 0.0      5.0                -1.0         8.0
2.0      2210.0                18.0      5.0                 1.0      2347.0
...                             ...      ...                 ...         ...
2400.0   2049.0                21.0      4.0                 1.0      2343.0
         2058.0                 9.0      8.0                 0.0      2359.0
         2206.0                39.0      4.0                 2.0      2325.0
         2305.0                55.0      5.0                 3.0      2310.0
All                             NaN      NaN                 NaN         NaN

                    CRSDepTime  CRSElapsedTime  ...  OriginStateFips  \
WheelsOn WheelsOff                              ...
1.0      2055.0         2041.0           153.0  ...             48.0
         2111.0         2025.0           387.0  ...             12.0
         2155.0         2135.0           148.0  ...             12.0
         2248.0         2235.0            93.0  ...             37.0
2.0      2210.0         2139.0            68.0  ...             17.0
...                        ...             ...  ...              ...
2400.0   2049.0         1958.0           165.0  ...             49.0
         2058.0         2025.0           154.0  ...             53.0
         2206.0         2113.0           132.0  ...              4.0
         2305.0         2200.0            70.0  ...              6.0
All                        NaN             NaN  ...              NaN

                    OriginWac  Quarter  SecurityDelay  TaxiIn  TaxiOut  \
WheelsOn WheelsOff
1.0      2055.0          74.0      1.0            NaN     7.0     13.0
         2111.0          33.0      2.0            0.0    10.0     16.0
         2155.0          33.0      2.0            NaN     7.0     16.0
         2248.0          36.0      2.0            NaN     4.0     19.0
2.0      2210.0          41.0      2.0            0.0     3.0     10.0
...                       ...      ...            ...     ...      ...
2400.0   2049.0          87.0      2.0            0.0     4.0     17.0
         2058.0          93.0      3.0            NaN     8.0     16.0
         2206.0          81.0      1.0            0.0     4.0     11.0
         2305.0          91.0      3.0            NaN     5.0     10.0
All                       NaN      NaN            NaN     NaN      NaN

                    TotalAddGTime  Unnamed: 0  WeatherDelay    Year
WheelsOn WheelsOff
1.0      2055.0               NaN   1293379.0           NaN  2019.0
         2111.0               NaN   1309862.0           0.0  2017.0
         2155.0               NaN   1128086.0           NaN  2011.0
         2248.0               NaN    463445.0           NaN  2000.0
2.0      2210.0               NaN   1435212.0           0.0  2005.0
...                           ...         ...           ...     ...
2400.0   2049.0               NaN    577187.0           0.0  2010.0
         2058.0               NaN   1240687.0           NaN  2014.0
         2206.0               NaN   1383995.0           0.0  2020.0
         2305.0               NaN    336218.0           NaN  2002.0
All                           NaN         NaN           NaN     NaN

[7398 rows x 59 columns]